@using LooneyBank.Core;
@using System.Data.Entity;

@{
    ViewBag.Title = "Bank Information";
}

<h2>Bank Update Tools</h2>

<ul>
    <div>
        Bank Name: @ViewBag.BankName
    </div>
    @ViewBag.BankName
</ul>
